.task_column {
  margin: 2rem;
}

.task_column_heading {
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checked_icon {
  background-color: #fff;
  height: 22px;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-right: 0.2rem;
}
