.tags {
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 0.313rem;
  background-color: #fff;  
  color: #000; 
  border: none;
  outline: 0;
  margin-bottom: 0.2rem;
  
}