.drag-area {
  height: 4rem;
  border-radius: 0.4rem;
  border: 1px dashed #dcdcdc;
  padding: 15px 12px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  margin-left: 2rem;
  font-weight: 900;
  color: chocolate;
}

.drag-area-hidden {
  opacity: 0;
}
