.drop-area {
  height: 5rem;
  border-radius: 0.4rem;
  border: 2px dashed #dcdcdc;
  padding: 15px 12px;
  margin-top: 1rem;
  width: 16rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  font-size: 1.6rem;
  font-weight: 900;
  color: chocolate;
}

.drop-area-hidden {
  opacity: 0;
}
