.taskCard_details {
  height: 5rem;
  border-radius: 0.4rem;
  border: 1px solid #dfe3e6;
  padding: 15px 12px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.card-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
}

.card-delete-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.delete_btn {
  width: 2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}
