* {
  padding: 0;
  margin: 0;
}

.advice-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.btn-Advice {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #fcac5f;
  color: white;
  cursor: pointer;
  border: none;
}

.btn-Advice:hover {
  background-color: #fb9531;
}


.advice-Box{

  width:40rem;
  background-color: green;
  padding: 10px 14px;
  margin-top: 1rem;
  border-radius: 1rem;
  color: white;
}