nav {
  border-bottom: 1px solid red;
}

.navbar_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_list a {
  margin: 5px 10px;
}

.navbar_list a.active {
  font-weight: 500;
  color: blue;
}
