.user_list {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  margin-bottom: 1rem;
  width: 12rem;
  padding: 1.2rem 1rem;
}

.user_list li {
  list-style: none;
  margin-bottom: 0.313rem;
}
