.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.menu h2 {
  display: inline-block;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.menu > p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
  width: 80%;
  text-align: center;
}

.Pizzas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  list-style: none;
}

