.order{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order span{
 display: block;
 text-align: center;
 margin-bottom: 1.5rem;
}

.btn{
 font-size: 1.6rem;
 font-weight: 700;
 padding: 0.8rem 2.9rem;
 border-radius: 0.6rem;
 border: 0;
 outline: 0;
 background-color:  #edc84b;
 color: #D02752;
 text-align: center;
 margin-bottom: 2rem;
}