.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order span {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

.btn {
  color: inherit;
  font-family: inherit;
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #edc84b;
  padding: 0.7rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 2rem;
  color: #d02752;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #e9bb24;
}
