.pizza {
  display: flex;
  gap: 3.2rem;
}

.pizza img {
  width: 12rem;
  border-radius: 1rem;
  aspect-ratio: 1;
  align-self: start;
}

img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pizza div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.4rem 0;
}

.pizza h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #edc84b;
}

.pizza p {
  font-size: 1.4rem;
  font-weight: 900;
  font-style: italic;
  margin-bottom: auto;
}

.ingredients {
  font-size: 1.4rem;
  color: #1c4d8d;
  font-weight: 500;
}
.price {
  font-size: 1.4rem;
  color: #d02752;
  width: max-content;
  border-radius: 0.4rem;
  padding: 0.4rem;
  background-color: #fbf4db;
  font-weight: 600;
}

.pizza.sold-out,
.pizza.sold-out h3,
.pizza.sold-out .ingredients,
.pizza.sold-out .price {
  color: #888 !important;
}

.pizza.sold-out img {
  filter: grayscale();
  opacity: 0.8;
  transform: scale(1);
}
