.pizza {
  display: flex;
  gap: 3.2rem;
}

.pizza img {
  width: 12rem;
  border-radius: 1rem;
  aspect-ratio: 1;
  align-self: start;
}

.pizza div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.4rem 0;
}

.pizza h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #edc84b;
}

.pizza p {
  font-size: 1.4rem;
  font-weight: 900;
  font-style: italic;
  margin-bottom: auto;
}

.ingredients {
  font-size: 1.4rem;
  color: #1C4D8D;
  font-weight: 500;
}
.price{
  font-size: 1.4rem;
  color:#8A244B;
  font-weight: 600;
}


