@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: #2b2b2b;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
