.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dfe3e6;
}

.task_input {
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #f9f9f9;
  color: #000000;
  border: 1px solid #dfe3e6;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.313rem;
}

.task_input::placeholder {
  color: #686868;
}

.app_header > form {
  width: 60%;
}

.task_action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.btn_section {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.action_section {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: first end;
}

.task_status {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 1 px solid #dfe3e6;
  border-radius: 5px;
  height: 35px;
  width: auto;
}

.btn-submit {
  font-size: 1.4rem;
  font-weight: 500;
  background-color: blue;
  color: white;
  height: 35px;
  border: none;
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
}
